@import "tailwindcss";

/* Light mode default */
body {
  @apply bg-white text-black transition-all duration-300;
}

/* Dark mode */
.dark body {
  @apply bg-gray-900 text-white transition-all duration-300;
}
